---

- name: Habilitamos puertos usados por Kubernets Master 6443
  firewalld:
    port: 6443/tcp
    permanent: true
    state: enabled
  become: yes

- name: Habilitamos puertos usados por Kubernets Master 2379-2380 tcp
  firewalld:
    port: 2379-2380/tcp
    permanent: true
    state: enabled
  become: yes

- name: Habilitamos puertos usados por Kubernets Master 10250-10252 tcp
  firewalld:
    port: 10250-10252/tcp
    permanent: true
    state: enabled
  become: yes

- name: Habilitamos puertos usados por Kubernets Master 10255 tcp
  firewalld:
    port: 10255/tcp
    permanent: true
    state: enabled
  become: yes
  
- name: Agregando regla para permitir el acceso de los workers al master
  firewalld:
    rich_rule: "rule family=ipv4 source address={{ hostvars[item].ansible_host }}/32 accept"
    permanent: true
    state: enabled
  when: hostvars[item].ansible_host is defined
  with_items: "{{ groups.workers }}"
  become: yes

- debug:
    msg: "Red Docker detectada: {{ docker_network }}"
- debug:
    msg: "Red Docker formato CIDR: {{ docker_network | ipaddr('net') }}"

# Para usar la funcion ipaddr() es necesario instalar el m칩dulo netaddr: sudo pip3 install netaddr
- name: Agregando regla para permitir el acceso de los contenedores al master localhost
  firewalld:
    rich_rule: "rule family=ipv4 source address={{ docker_network | ipaddr('net') }} accept"
    permanent: true
    zone: public
    state: enabled
  become: yes

- name: Reiniciando el servicio Firewalld 
  systemd:
    name: firewalld
    state: restarted
  become: yes

- name: Descargando im치genes requeridas por Kubernetes
  shell: kubeadm config images pull
  become: yes
  
- debug:
    msg: "Se ejecutara: kubeadm init --apiserver-advertise-address {{ ansible_host }} --pod-network-cidr {{ pod_network }}"
    
- name: Instalamos el plugin CNI de kubernetes y definimos la red de los PODs
  shell: "kubeadm init --apiserver-advertise-address {{ ansible_host }} --pod-network-cidr {{ pod_network }}"
  register: kubeadd_cmd
  become: yes

- name: Mostrando la salida de la ejecuci칩n del kubeadm init
  debug:
    msg: "{{ kubeadd_cmd.stdout_lines }}"
  
- name: Extrayendo el hash CRT CA del Master
  shell: openssl x509 -pubkey -in /etc/kubernetes/pki/ca.crt | openssl rsa -pubin -outform der 2>/dev/null | sha256sum
  register: cert_out
  become: yes
  
- name: Limpiando el Hash CRT
  set_fact: 
    cert_hash: "{{ cert_out.stdout | regex_search('^[a-f0-9]{64}') }}"
  
- name: Mostramos el Hash CRT extraido
  debug:
    msg: "{{ cert_hash }}"

- name: Extrayendo el token del Master en formato JSON
  shell: kubeadm token list -o json
  register: token_out
  become: yes
  
- name: Limpiando el Token
  set_fact: 
    token_hash: "{{ token_out.stdout | from_json | json_query('token') }}"
  
- name: Mostramos el Token extraido
  debug:
    msg: "{{ token_hash }}"
  
- name: Creamos el directorio .kube
  file:
    path: /root/.kube
    state: directory
  become: yes

- name: Autorizando al usuario root acceder al cluster Kubernetes
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    remote_src: yes
    owner: root
    group: root
  become: yes
    
- name: Instalamos la SDN Flannel para Azure
  shell: kubectl apply -f https://docs.projectcalico.org/manifests/canal.yaml
  register: kubectl_sdn
  become: yes
  
- name: Mostramos el resultado de la instalaci칩n de la SDN kubectl apply -f
  debug:
    msg: "{{ kubectl_sdn.stdout_lines }}"
  
- name: Ejecutando kubectl get nodes
  shell: kubectl get nodes
  register: kubectl_out
  become: yes
  
- name: Mostramos el resultado de kubectl get nodes
  debug:
    msg: "{{ kubectl_out.stdout_lines }}"

- name: Ejecutando kubectl get pods A
  shell: kubectl get pods -A
  register: kubectl_pods
  become: yes
  
- name: Mostramos el resultado de kubectl get pods A
  debug:
    msg: "{{ kubectl_pods.stdout_lines }}"
  